<section>
  <form #form="ngForm"
        (ngSubmit)="onSubmit(form)"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">

    <mat-form-field>
      <input type="email"
             name="email"
             #emailInput="ngModel"
             email
             required
             placeholder="Your email"
             ngModel
             matInput>
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Has to be at least 6 characters long.">
      <input type="password"
             name="password"
             #passwordInput="ngModel"
             required
             minlength="6"
             placeholder="Your password"
             ngModel
             matInput>
      <mat-error>Has to be at least 6 characters long.</mat-error>
      <mat-hint align="end">{{passwordInput.value?.length}} / 6</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Your birthdate</mat-label>
      <input matInput
             ngModel
             name="birthdate"
             [matDatepicker]="picker"
             [max]="maxDate"
             required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel
                  name="agree"
                  color="primary"
                  required>
      Agree to Terms and Conditions
    </mat-checkbox>

    <button mat-raised-button
            [disabled]="form.invalid"
            color="primary">
      Submit
    </button>
  </form>
</section>
